body{
    background: #000000;
}
.main_box{
}
.box {
    padding-right: 0;
    padding-left: 5px;
}
.div{
    margin-top: 40px;
}
.color {
    background: yellow;
    height: 60px;
    margin: 4px 0px;
}
.marg_top{
}
@media (min-width:576px){
    .color{background:red;}
}
@media (min-width:768px){
    .color{background:blue;}
}
@media (min-width:992px){
    .color{background:green;}
}
@media (min-width:1200px){
    .color{background:yellow;}
}